.container{
  font-family: var(--fa3);
    position: fixed;
    height: 100vh;
    width: 100vw;
    direction: rtl;
    overflow: hidden;
    perspective: 100px;
}
.return_button{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--fa1);
  color: var(--khakestariRoshan);
  box-shadow: 0 0 10px var(--khakestariTire), 0 0 20px var(--khakestariTire),0 0 30px var(--khakestariTire),
inset 0 0 10px var(--khakestariTire),inset 0 0 20px var(--khakestariRoshan),inset 0 0 50px var(--khakestariRoshan);
  top: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  right: 5%;
  color: var(--ghermezTire);
text-align: center;
}
.return_button:hover{
background: #ffffff;
transform:scale(1.1);
transition: 0.3s;
color: var(--ghermezRoshan);

}
.container h1{
  position: fixed;
  text-align: center;
  font-size: 1.7rem;
  width: 21%;
  color: var(--zardRoshan);
  border-radius: 50px;
  left: calc(0.5%);
  top: calc(20%);
  padding: 20px;
  text-shadow: 0 0 1px #000 ,0 0 5px #000;
  box-shadow: 0 0 10px var(--khakestariTire), 0 0 20px var(--khakestariTire),0 0 30px var(--khakestariTire),
              inset 0 0 10px var(--khakestariTire),inset 0 0 20px var(--khakestariRoshan),inset 0 0 50px var(--khakestariRoshan),inset 0 0 80px var(--khakestariRoshan);
}

.clock_project a img,
.calculator_project a img,
.hangman_project a img,
.todoapp_project a img,
.weatherapp_project a img,
.digital_currency_project a img,
.LAB a img,
.iranTint a img,
.beauty_heaven a img{
  position: fixed;
  filter: drop-shadow(-5px 5px 3px #1a1919);
    width:9rem;
}
.clock_project a img{
left: 45%;
top: 72%;
transform: rotateX(30deg);
width: 4rem;
}
.calculator_project a img{
  width: 4.5rem;
  left: 35%;
  top: 72%;
}

.hangman_project a img{
  width:5rem;
  left: 26%;
  top: 72%;
}
.todoapp_project a img{
  width:4.5rem;
  left: 63%;
  top: 72%;
}
.weatherapp_project a img{
  width:4.5rem;
  left: 57%;
  top: 73%;
}
.digital_currency_project a img{
  width:3.5rem;
  left: 51.5%;
  top: 74%;
  
}
.LAB a img{
  width:3rem;
  left: 47%;
  top: 63.5%;
  filter:drop-shadow (0 10px 20px rgba(0, 0, 0, 0.3));
  
}

.iranTint a img{
  width:3.5rem;
  left: 61%;
  top: 66.5%;
  filter:drop-shadow (0 10px 20px rgba(0, 0, 0, 0.3));

}
.beauty_heaven a img{
  width:3.5rem;
  left: 31%;
  top: 59%;
  filter:drop-shadow(0 -2px 5px rgb(0, 0, 0));

}
.clock_project h4,
.calculator_project h4,
.hangman_project h4,
.todoapp_project h4,
.weatherapp_project h4,
.digital_currency_project h4,
.LAB h4,
.iranTint h4,
.beauty_heaven h4{
  left:10rem;
  top: 16rem;
opacity: 0;
transition: opacity 1s;
padding: 10px;
color: var(--zardRoshan);
background-color: var(--abiTire);
box-shadow: 0 0 10px var(--abiTire), 0 0 20px var(--abiTire),0 0 30px var(--abiTire),
inset 0 0 10px var(--abiTire),inset 0 0 20px var(--abiRoshan),inset 0 0 50px var(--abiRoshan),inset 0 0 80px var(--abiRoshan);
border-radius: 30px;
font-size: 1.9rem;
text-align: center;
text-wrap: wrap;
width: 20rem;
position: fixed;
font-family: var(--fa1);
text-shadow: var(--textShadowDark);
font-weight: 100;
}
.LAB h4,
.iranTint h4,
.beauty_heaven h4{
font-size: 1.7rem;
color: var(--khakestariTire);
background-color: var(--zardRoshan);
box-shadow: 0 0 10px var(--zardRoshan), 0 0 20px var(--zardRoshan),0 0 30px var(--zardRoshan),
inset 0 0 10px var(--zardRoshan),inset 0 0 20px #000,inset 0 0 50px #000,inset 0 0 80px var(--zardTire);
text-shadow:0 0 5px #fff,0 0 10px #000;
}
.LAB h4 span,
.iranTint h4 span,
.beauty_heaven h4 span{
  color: var(--ghermezTire);
}
.iranTint h4{
  font-size: 1.45rem;
}

.clock_project h4 span,
.calculator_project h4 span,
.hangman_project h4 span,
.todoapp_project h4 span,
.weatherapp_project h4 span,
.digital_currency_project h4 span{
  color: var(--abiRoshan);
}
.clock_project img:hover,
.calculator_project img:hover,
.hangman_project img:hover,
.todoapp_project img:hover,
.weatherapp_project img:hover,
.digital_currency_project img:hover,
.LAB img:hover,
.iranTint img:hover{
  filter:contrast(120%) drop-shadow(-8px 8px 4px #1a1919);
  transform:scale(1.2);
  transition:all 1s;
}
.clock_project a:hover ~ h4,
.calculator_project a:hover ~ h4,
.hangman_project a:hover ~ h4,
.todoapp_project a:hover ~ h4,
.weatherapp_project a:hover ~ h4,
.digital_currency_project a:hover ~ h4,
.LAB a:hover ~ h4,
.iranTint a:hover ~h4{
  opacity: 1;
transition: 1s;
}





/* animations */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  
  @keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  } 





  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 





    .bounceInUp {
      -webkit-animation-name: bounceInUp;
      animation-name: bounceInUp;
      -webkit-animation-duration: 1s;
      animation-duration: 1.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes bounceInUp {
      0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
      0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
      }
      60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
      }
      75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
      }
      90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
      }
      100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      }
      }
      @keyframes bounceInUp {
      0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
      0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
      }
      60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
      }
      75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
      }
      90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
      }
      100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      }
      }
      .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: forwards;
        }
        @-webkit-keyframes fadeOut {
        0% {opacity: 1;}
        100% {opacity: 0;display: none;}
        }
        @keyframes fadeOut {
        0% {opacity: 1;}
        100% {opacity: 0;display:none;}
        } 