.container{
  font-family: var(--fa3);
    position: fixed;
    height: 100vh;
    width: 100vw;
    perspective: 100px;
    direction: rtl;
    overflow: hidden;
}
.container h1{
  position: fixed;
  text-align: center;
  color: var(--ghermezTire);
  border-radius: 50px;
  left: calc(10% - 2rem)  ;
  padding: 20px;
  box-shadow: 0 0 10px var(--khakestariTire), 0 0 20px var(--khakestariTire),0 0 30px var(--khakestariTire),
              inset 0 0 10px var(--khakestariTire),inset 0 0 20px var(--khakestariRoshan),inset 0 0 50px var(--khakestariRoshan),inset 0 0 80px var(--khakestariRoshan);
}
.stairs{
    width: 40rem;
    height: 50rem;
    position:fixed;
    right: calc(50% - 29rem);
    filter: drop-shadow(-5px 5px 3px #4e4e4e);
    transform: rotateX(1deg) rotateY(357deg);
    transform-style: preserve-3d;
}

.clock_project a img{
position: fixed;
width: 9rem;
height: 8rem;
left: calc(50% + 14rem);
bottom: 3rem;
transform: rotateZ(-15deg);
filter: drop-shadow(-5px 5px 3px #1a1919);
}
.calculator_project a img{
  position: fixed;
filter: drop-shadow(-5px 5px 3px #1a1919);
  width: 5rem;
left:60%;
bottom: 8.5rem;
}

.hangman_project a img{
  position: fixed;
  filter: drop-shadow(-5px 5px 3px #1a1919) contrast(150%);
    width:9rem;
  left:43rem;
  bottom: 9rem;

}
.clock_project h4,
.calculator_project h4,
.hangman_project h4{
  left:10rem;
  top: 16rem;
opacity: 0;
transition: opacity 1s;
padding: 10px;
color: var(--zardRoshan);
background-color: var(--abiTire);
box-shadow: 0 0 10px var(--abiTire), 0 0 20px var(--abiTire),0 0 30px var(--abiTire),
inset 0 0 10px var(--abiTire),inset 0 0 20px var(--abiRoshan),inset 0 0 50px var(--abiRoshan),inset 0 0 80px var(--abiRoshan);

border-radius: 30px;
font-size: 2rem;
text-align: center;
text-wrap: wrap;
width: 20rem;
position: fixed;
font-family: var(--fa1);
text-shadow: var(--textShadowDark);
font-weight: 100;
}
.clock_project h4 span,
.calculator_project h4 span,
.hangman_project h4 span{
  color: var(--abiRoshan);
}
.clock_project img:hover,
.calculator_project img:hover,
.hangman_project img:hover{
  filter:contrast(150%) drop-shadow(-8px 8px 4px #1a1919);
  transform:scale3d(1.1,1.1,1.1);
  transition:  1s;
}
.clock_project a:hover ~ h4,
.calculator_project a:hover ~ h4,
.hangman_project a:hover ~ h4{
  opacity: 1;
transition: 1s;
}