.container{
  font-family: var(--fa3);
    position: fixed;
    height: 100vh;
    width: 100vw;
    perspective: 100px;
    direction: rtl;
    overflow: hidden;
}
.return_button{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--fa1);
  /* background: none; */
  color: var(--khakestariRoshan);
  box-shadow: 0 0 10px var(--khakestariTire), 0 0 20px var(--khakestariTire),0 0 30px var(--khakestariTire),
inset 0 0 10px var(--khakestariTire),inset 0 0 20px var(--khakestariRoshan),inset 0 0 50px var(--khakestariRoshan);
  top: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  right: 5%;
  color: var(--ghermezTire);
text-align: center;
}
.return_button:hover{
background: #ffffff;
transform:scale(1.1);
transition: 0.3s;
color: var(--ghermezRoshan);

}
.container h1{
  position: fixed;
  text-align: center;
  color: var(--ghermezTire);
  border-radius: 50px;
  left: calc(10% - 2rem)  ;
  padding: 20px;
  box-shadow: 0 0 10px var(--khakestariTire), 0 0 20px var(--khakestariTire),0 0 30px var(--khakestariTire),
              inset 0 0 10px var(--khakestariTire),inset 0 0 20px var(--khakestariRoshan),inset 0 0 50px var(--khakestariRoshan),inset 0 0 80px var(--khakestariRoshan);
}
.stairs{
    width: 40rem;
    height: 50rem;
    position:fixed;
    right: calc(50% - 29rem);
    filter: drop-shadow(-5px 5px 3px #4e4e4e);
    transform: rotateX(1deg) rotateY(357deg);
    transform-style: preserve-3d;
    bottom: -10rem;
}
.clock_project a img,
.calculator_project a img,
.hangman_project a img,
.todoapp_project a img,
.weatherapp_project a img,
.digital_currency_project a img,
.LAB a img,
.iranTint a img,
.beauty_heaven a img{
  position: fixed;
  filter: drop-shadow(-5px 5px 3px #1a1919);
    width:9rem;
}
.clock_project a img{
height: 8rem;
left: calc(50% + 14rem);
bottom: 2rem;
transform: rotateZ(-15deg);
}
.calculator_project a img{
  width: 6rem;
left:calc(50% + 8rem);
bottom: calc(50% - 12.5rem);
}

.hangman_project a img{
  left:50%;
  bottom: calc(50% - 11.5rem) ;
  width: 7rem;
}
.todoapp_project a img{
  left:calc(50% + 3rem);
  bottom: 15.5rem;
  width: 6rem;
}
.weatherapp_project a img{
  right:calc(50% - 23rem);
  bottom: 14rem;
  width: 6.5rem;
}
.digital_currency_project a img{
  right:calc(50% - 16rem);
  bottom: 14.5rem;
  width: 6rem;
  transform: rotateX(30deg);
}
.LAB a img{
  filter:drop-shadow (0 10px 20px rgba(0, 0, 0, 0.3));
  transform: perspective(100px) rotateX(15deg) rotateY(-15deg);
  width: 5rem;
  right:calc(50% - 16rem);
  bottom: calc(50% + .5rem);
}

.iranTint a img{
  filter:drop-shadow (0 10px 20px rgba(0, 0, 0, 0.3));
  width: 6rem;
  right:calc(50% - 25rem);
  bottom: calc(50% - .7rem);
}
.beauty_heaven a img{
  filter:drop-shadow (0 10px 20px rgba(0, 0, 0, 0.3));
  width: 6rem;
  right:calc(50% - 25rem);
  bottom: calc(50% + 4rem);
}
.clock_project h4,
.calculator_project h4,
.hangman_project h4,
.todoapp_project h4,
.weatherapp_project h4,
.digital_currency_project h4,
.LAB h4,
.iranTint h4,
.beauty_heaven h4{
  left:10rem;
  top: 16rem;
opacity: 0;
transition: opacity 1s;
padding: 10px;
color: var(--zardRoshan);
background-color: var(--abiTire);
box-shadow: 0 0 10px var(--abiTire), 0 0 20px var(--abiTire),0 0 30px var(--abiTire),
inset 0 0 10px var(--abiTire),inset 0 0 20px var(--abiRoshan),inset 0 0 50px var(--abiRoshan),inset 0 0 80px var(--abiRoshan);
border-radius: 30px;
font-size: 1.9rem;
text-align: center;
text-wrap: wrap;
width: 20rem;
position: fixed;
font-family: var(--fa1);
text-shadow: var(--textShadowDark);
font-weight: 100;
}
.LAB h4,
.iranTint h4{
font-size: 1.7rem;
color: var(--khakestariTire);
background-color: var(--zardRoshan);
box-shadow: 0 0 10px var(--zardRoshan), 0 0 20px var(--zardRoshan),0 0 30px var(--zardRoshan),
inset 0 0 10px var(--zardRoshan),inset 0 0 20px #000,inset 0 0 50px #000,inset 0 0 80px var(--zardTire);
text-shadow:0 0 5px #fff,0 0 10px #000;
}
.LAB h4 span,
.iranTint h4 span{
  color: var(--ghermezTire);
}
.iranTint h4{
  font-size: 1.45rem;
}

.clock_project h4 span,
.calculator_project h4 span,
.hangman_project h4 span,
.todoapp_project h4 span,
.weatherapp_project h4 span,
.digital_currency_project h4 span{
  color: var(--abiRoshan);
}
.clock_project img:hover,
.calculator_project img:hover,
.hangman_project img:hover,
.todoapp_project img:hover,
.weatherapp_project img:hover,
.digital_currency_project img:hover,
.LAB img:hover,
.iranTint img:hover{
  filter:contrast(120%) drop-shadow(-8px 8px 4px #1a1919);
  transform:scale(1.2);
  transition:all 1s;
}
.clock_project a:hover ~ h4,
.calculator_project a:hover ~ h4,
.hangman_project a:hover ~ h4,
.todoapp_project a:hover ~ h4,
.weatherapp_project a:hover ~ h4,
.digital_currency_project a:hover ~ h4,
.LAB a:hover ~ h4,
.iranTint a:hover ~h4{
  opacity: 1;
transition: 1s;
}





/* animations */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  
  @keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  } 





  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 





    .bounceInUp {
      -webkit-animation-name: bounceInUp;
      animation-name: bounceInUp;
      -webkit-animation-duration: 1s;
      animation-duration: 1.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes bounceInUp {
      0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
      0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
      }
      60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
      }
      75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
      }
      90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
      }
      100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      }
      }
      @keyframes bounceInUp {
      0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
      0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
      }
      60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
      }
      75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
      }
      90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
      }
      100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      }
      }