.container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    margin: 10px;
    
}
.banner_container{
display: flex;
position: fixed;
flex-direction: column;
width: 33vw;
line-height: 0;
left: 0;
}
.siteTitle{
    text-align: center;
    font-size: 2.5rem;
    text-wrap: wrap;
    left: 0;
    color: var(--abiTire);
    text-shadow: var(--textShadow);
    font-family: var(--en2);
    top: 2rem;
    margin-inline: 3px;
}
.main_container{
    width: 50vw;
    position: fixed;
    left: 33vw;
    height: 50vh;
}
.aboutMe_container{
    width: 50%;
    height: 100%;
    left: 0;
    border-radius: 500px;
}
.aboutMe_Photo{
    width:clamp(11rem,14rem,14rem);
    filter:drop-shadow( 0 0 5px #3d3d3d);
    left: 0;
    border-radius: 100px;
    height: 100%;
    border:1px solid #3d3d3d;
    box-shadow:
    inset 0 0 10px #3d3d3d,
    inset 0 0 5px #3d3d3d,
    0 0 5px #3d3d3d,
    0 0 10px #3d3d3d;
    
   

}
.aboutMe_title{
    position: absolute;
    bottom: 10%;
    font-size: 2.7rem;
    color: var(--abiTire);
    text-shadow: var(--textShadow);
    margin-inline: 15px;
}


.abilities_container{
display: grid;
position: absolute;
justify-items: center;
    box-shadow:inset 0 4px 5px #363636a4,inset 0 -4px 5px #363636a4, 0 0 10px var(--khakestariRoshan);
    background: #ffffff0e;
    border-radius: 50%;
    width: 50%;
    top: 0;
    left: 50%;
    height: 50%;

    
}
.abilities_title{
    text-align: right;
    color: var(--abiTire);
    font-size: 2.5rem;
font-family: var(--en2);
text-shadow: var(--textShadow);
margin: 0;
}


.abilities_explain{
    flex-direction: row;
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
padding-inline: 10px;
padding:0 10px 10px;
}

.abilities_explain li img{
width: 25px;
height: 25px;
margin-top: -10px;
filter: drop-shadow(var(--textShadow));
border-radius: 50%;

}


.projects_container{
    box-shadow: 0 0px 5px #363636a4, 0 0px 10px #363636a4, 0 0 30px var(--khakestariRoshan);
    border-radius: 50%;
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    height: 50%;
    text-align: center;
    overflow: hidden;
}
.projects_title{
    color: var(--abiTire);
    text-shadow: var(--textShadow),2px 2px 2px #ffffff;
    font-size: 2rem;
    font-family: var(--en2);
    margin: 0;
    z-index: 1;
    position: absolute;
    bottom: 40%;
    width: 100%;
}
.projects_explain{
width: 100%;
height: 100%;
filter: drop-shadow(-2px 0px 3px);
z-index: 0;
top: 0;
position: absolute;
left: 0;
transition: 0.4s;
opacity: 0.5;

}
.projects_container:hover > .projects_explain{
    transform: scale(1.3);
    transition: 0.4s;
}
/* _________end of main pge elments */
/* explains part   */
    /* About me Explains */
.explain_container{
position: fixed;
top: 0;
left: 0;
z-index: 10;
}
.main_section_visible{
backdrop-filter:blur(3px);
background-color: rgba(0, 0, 0, 0.849);
height: 100vh;
width: 100vw;
position: fixed;
overflow: hidden;
perspective: 300px;
}
.aboutMe_container:hover,
.projects_container:hover,
.abilities_container:hover
{
    transition: 0.4s;
    cursor: pointer;
animation: rubberBand 2s ease both;
animation-iteration-count: 1;
}
.closeAll{
    position: fixed;

    font-size: 2rem;
    font-family: var(--fa1);
    background: none;
    color: var(--khakestariRoshan);
    box-shadow: 0 0 5px var(--khakestariRoshan),0 0 10px var(--khakestariRoshan),0 0 20px var(--khakestariRoshan);
    border: none;
    transition: 0.5s;


}
.closeAll{
    left: calc(50% - 20rem); 
           border-radius: 50%;
    width: 5rem;
    height: 5rem;
    top: 1rem;
}

.closeAll:hover{
    box-shadow: 0 0 5px var(--khakestariRoshan),0 0 10px var(--khakestariRoshan),0 0 20px var(--khakestariRoshan),0 0 60px var(--khakestariRoshan);
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.3s;
    background: var(--khakestariRoshan);
    color: var(--khakestariTire);

}
.aboutMe_explain_container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.AboutMe_explain_text_right{
    font-size: 2.7rem;
    font-family: var(--fa1);
    right: 0;
    left: 66%;
    direction: rtl;
}
.AboutMe_explain_text_left{
direction:ltr;
font-size: 2.7rem;
font-family: var(--fa1);
left: 0;
}
.AboutMe_explain_text_right,
.AboutMe_explain_text_left{
    top: 0;
    list-style-type: none;
    position: absolute;
    font-family: var(--fa1);
    text-shadow: var(--textShadow);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    padding-inline: 2rem;
    height: 100%;
}

.AboutMe_explain_text_right li span,
    .AboutMe_explain_text_left li span{
    color: var(--khakestariRoshan);
    text-shadow: var(--textShadowDark);
}
.aboutMe_explain_Photo{
    background: url(../../assets/bgg.png);
    width: 20rem;
    top: 1rem;
    position: absolute;
    left: calc(50vw - 15rem);
    z-index: 1;
    filter:drop-shadow( -3px 1px 3px #3d3d3d) ;
    border-radius: 20rem;
    box-shadow: inset 0 0 50px #a7a7a7a7,inset 0 0 20px #a7a7a7a7,
    0 0 50px #a7a7a7,0 0 10px #a7a7a7,0 0 30px #a7a7a7;
    backdrop-filter:blur(300px);
    filter: brightness(.9);
}
.aboutMe_explain_name{
    z-index: 10;
    color: var(--khakestariRoshan);
    text-shadow: var(--textShadowDark),0 0 20px #000,0 0 40px #000,0 0 50px #000;
    font-size: 5rem;
    line-height: 5rem;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: auto;
    
}



/* Media queries */
@media (width <= 1440px ){
    .aboutMe_title{
    font-size: 3rem;
    }
    .banner_container{
        width: 40%;
    }
    .siteTitle{
        font-size: 1.5rem;
    }
    .main_container{
        width: 60%;
    }

    
    .main_section_visible{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .aboutMe_explain_Photo{
    width: max(35%,20rem);
    border:1px solid #a7a7a7;
    
    top:0;
    right: 0;
    z-index: 0;
    position: static;
    }
    .aboutMe_explain_name{
        font-size: 5rem;
        right:0;
        /* left: 59%; */
        z-index: 0;
        position: fixed;
        width: 39%;

    }
    .AboutMe_explain_text_right,
.AboutMe_explain_text_left{
    position: static;
    width: 25%;
    line-height: 2rem;
        margin: 10px 0 0 ;
        text-align: center;


}
    .AboutMe_explain_text_right li span,
    .AboutMe_explain_text_left li span{
        font-size: 2rem;

    }
    .closeAll{
        bottom: 0;
        left: calc(25% + 1.5rem);
        top: auto;
    }

}
@media (width <= 768px ){
    .banner_container{
        width: 40%;
    }
    .siteTitle{
        font-size: 2rem;
    }
    .main_container{
        width: 60%;
        position: fixed;
        left: 39%;
    }
    .aboutMe_Photo{
        width:clamp(100%,12rem,12rem);
        }
        .aboutMe_title{
            font-size: 2.1rem;
            }

    .closeAll{
        top:1rem;
        left:calc(50% - 14rem);

    }

    .aboutMe_explain_Photo,
    .aboutMe_explain_name{
        width: 49%;
        left: 49%;
        font-size: 4rem;
    }
    .AboutMe_explain_text_right,
    .AboutMe_explain_text_left{
        width: 20%;
        line-height: 2rem;
        font-size: 2rem;
        margin: 0;


    }
    .closeAll{
        width: 4rem;
        height: 4rem;
        top: inherit;
        right: 20%;
        left: auto;
        background:var(--khakestariTire);
    }
}

@media (width <= 620px ){
    .siteTitle{
        font-size: 1.5rem;
    }
    .aboutMe_title{
        text-wrap: nowrap;
    }
    .banner_container{
        width: 100vw;
        height: 10%;
        overflow: hidden;
        top: 0;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;  
        padding-inline: 10%;
    }

    .main_container{
        width: 90%;
        left: 0;
        top: 10%;
        height:45%;
        margin-inline: 5%;
    }
    .aboutMe_container{
        width: 40%;
    }

.abilities_container{
    width:48%;
    }
    .abilities_title{
    font-size: 2rem;
    }
.projects_container{
    width: 48%;
}
.main_section_visible{
    justify-content: flex-end;
    flex-direction: row;
    gap: 5%;
}
    .aboutMe_explain_Photo{
        width:25rem;
        left: calc(50% - 12.5rem);
        position: fixed;
        height: 100%;
        z-index: 0;
    }
    .aboutMe_explain_name{
    display: none;
    }

    .AboutMe_explain_text_right,
    .AboutMe_explain_text_left {
        font-size: 2.5rem;
        font-family: var(--fa1);
        width: 48%;
        z-index: 10;
        margin-top: 0;
        justify-content: flex-end;
        gap: 1rem;
        color: #000;
        text-align:start;


    }

    .AboutMe_explain_text li span{
        color: var(--khakestariRoshan);
        text-shadow: var(--textShadowDark);
        font-size: 1.4rem;

    }
    .closeAll{
        top:0;
        left: 0;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        background: var(--khakestariRoshan);
        color: var(--khakestariTire);
        z-index: 11;
    }
    .closeAll:hover{
        background: var(--khakestariTire);
        color: var(--khakestariRoshan);
    transform: scale(0.9,0.9);
    box-shadow: 0 0 5px #000,0 0 10px #000,inset 0 0 20px #000,0 0 60px #000;



    }

}
@media (width <= 425px ){
    .main_container{
        width: 100%;
        margin-inline: 0;
    }

    .aboutMe_container{
        width: 48%;
    }
    .aboutMe_Photo{
        width: fit-content;
    }
    .aboutMe_title{
        font-size: 1.8rem;
    }
.projects_container{
    width: 50%;

}

.abilities_container{
    width:50%;

    }
    .aboutMe_explain_Photo{
        width: 100%;
        left: 0;
        height: fit-content;
    }

    .AboutMe_explain_text_right,
    .AboutMe_explain_text_left {
        width: 50%;
        gap: 0;
        z-index: 10;
        padding: 0 10px 30px ;
        text-shadow:
         0 0 10px #fff;
    }
    .AboutMe_explain_text_right li span,
    .AboutMe_explain_text_left li span {
         color: var(--abiTire);
         text-shadow: 0 0 5px #fff;
        }
}
    /* abilities explain  */
.abilities_explain_container{
    background: #000000ca;
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
}




/* animations */
       .zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 



.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 


.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: forwards;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;display: none;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;display:none;}
  } 



@-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    40% {
    -webkit-transform: scale3d(0.9, 1.1, 1);
    transform: scale3d(0.9, 1.1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    40% {
    -webkit-transform: scale3d(0.9, 1.1, 1);
    transform: scale3d(0.9, 1.1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 
  

    .slideOutRight {
        -webkit-animation-name: slideOutRight;
        animation-name: slideOutRight;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideOutRight {
        0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes slideOutRight {
        0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        } 