.main_section_visible{
backdrop-filter:blur(3px);
background-color: rgba(46, 46, 46, 0.561);
height: 100%;
width: 100%;
z-index: 10;
position: fixed;
overflow: hidden;
}

.siteTitle{
    direction: rtl;
    text-align: center;
    font-size: 3rem;
    text-wrap: wrap;
    width: 300px;
    position: fixed;
    left: calc(50% - 40rem);
    color: var(--abiTire);
    text-shadow: var(--textShadow);
    font-family: var(--fa2);
    top: 3rem;
}

.aboutMe_container:hover,
.projects_container:hover,
.projects_title:hover,
.projects_explain:hover,
.abilities_container:hover
{
    transform: scale(1.1,1.1);
    transition: 0.4s;
    cursor: pointer;
animation: rubberBand 2s ease infinite;

}

.aboutMe_Photo{
    width: 14rem;
    top: 1rem;
    position: fixed;
    left: calc(50% - 15rem);
    z-index: 1;
    filter:drop-shadow( -3px 1px 3px #3d3d3d) ;
    border-radius: 100px;
background: url(../../assets/bg-1.png);
background-size: cover;
padding: 20px 0 0 30px;
}
.aboutMe_title{
    position: fixed;
    left: calc(50% - 17.7rem);
    top: 7rem;
    font-size: 2.7rem;
    color: var(--abiTire);
    text-shadow: 0px 0px 2px #ffffff;
    transform: rotate(270deg);
}
.AboutMe_explain_text{
    position: fixed;
    list-style-type: none;
    font-family: Lalezar;
    text-align: right;
    color: var(--ghermezTire);
    left: calc(50% - 15rem);
    top: 5rem;
    text-shadow: var(--textShadow);
}
.AboutMe_explain_text li span{
    color: var(--abiTire);
    text-shadow: var(--textShadow);
}
.aboutMe_explain_Photo{
    background: url(../../assets/bgg.png);
    width: 25rem;
    top: 1rem;
    position: fixed;
    left: calc(50% - 12.5rem);
    z-index: 1;
    filter:drop-shadow( -3px 1px 3px #3d3d3d) ;
    border-radius: 200px;
    box-shadow: 0 0 10px #3d3d3d,0 0 30px #ffffff ;
}
.abilities_container{
    position: fixed;
    top: 0.3rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    right: calc(50% - 22rem);
    background: url(../../assets/bg-vertical.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;

    
}
.abilities_title{
    text-align: right;
    color: var(--abiTire);
    font-size: 2.5rem;
    font-family: Lalezar;
text-shadow: var(--textShadow);

}
.abilities_explain{
    flex-direction: row;
    display: flex;
list-style-type: none;
justify-content: center;
margin-top: -20px;
padding-inline: 30px;
width: 50%;;
flex-wrap: wrap;
}

.abilities_explain li img{
width: 27px;
height: 27px;
margin-top: -10px;
filter: drop-shadow(var(--textShadow));

}



.projects_container{
    background: url(../../assets/bg-1.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
position: fixed;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
right: calc(50% - 22.5rem);
top: 11rem;
z-index: 1;
}
.projects_title{
    text-align: right;
    color: var(--abiTire);
    text-shadow: var(--textShadow),2px 2px 2px #ffffff;
    font-size: 2rem;
    font-family: Lalezar;

}
.projects_explain{
width: 6.5rem;
height: 6rem;
filter: drop-shadow(-2px 0px 3px);
z-index: 1;
}








/* animations */
       .zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 



.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 


         .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  } 



@-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    40% {
    -webkit-transform: scale3d(0.9, 1.1, 1);
    transform: scale3d(0.9, 1.1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    40% {
    -webkit-transform: scale3d(0.9, 1.1, 1);
    transform: scale3d(0.9, 1.1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 
  