






.main_section_visible{
backdrop-filter:blur(3px);
background-color: rgba(0, 0, 0, 0.856);
height: 100%;
width: 100%;
z-index: 10;
position: fixed;
overflow: hidden;
}

.siteTitle{
    direction: rtl;
    text-align: center;
    font-size: 3rem;
    text-wrap: wrap;
    width: 300px;
    position: fixed;
    left: calc(50% - 40rem);
    color: var(--abiTire);
    text-shadow: var(--textShadow);
    font-family: var(--fa2);
    top: 3rem;
}

.aboutMe_container:hover,
.projects_container:hover,
.projects_title:hover,
.projects_explain:hover,
.abilities_container:hover
{
    transform: scale(1.1,1.1);
    transition: 0.4s;
    cursor: pointer;
animation: rubberBand 2s ease infinite both;
animation-iteration-count: 1;
}

.aboutMe_Photo{
    width: 14rem;
    top: 1rem;
    position: fixed;
    left: calc(50% - 15rem);
    z-index: 1;
    filter:drop-shadow( -3px 1px 3px #3d3d3d) ;
    border-radius: 100px;
background: url(../../assets/bg-1.png);
background-size: cover;
padding: 20px 0 0 30px;
}
.aboutMe_title{
    position: fixed;
    left: calc(50% - 17.7rem);
    top: 7rem;
    font-size: 2.7rem;
    color: var(--abiTire);
    text-shadow: var(--textShadow);
    transform: rotate(270deg);
}
.closeAll,
.closeAll_abilities{
    position: fixed;

    font-size: 2rem;
    font-family: var(--fa1);
    background: none;
    color: var(--khakestariRoshan);
    box-shadow: 0 0 5px var(--khakestariRoshan),0 0 10px var(--khakestariRoshan),0 0 20px var(--khakestariRoshan);
    border: none;
    transition: 0.5s;


}
.closeAll{
    top: 2rem;
    left: calc(50% - 20rem); 
           border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.closeAll_abilities{
bottom: 5rem;
left: calc(50% - 8.5rem);
width: 19rem;
height: 2.5rem;
border-radius: 50px;

}
.closeAll:hover,
.closeAll_abilities:hover{
    box-shadow: 0 0 5px var(--khakestariRoshan),0 0 10px var(--khakestariRoshan),0 0 20px var(--khakestariRoshan),0 0 60px var(--khakestariRoshan);
    border: 1px solid var(--khakestariRoshan);
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.3s;
    background: var(--khakestariRoshan);
    color: var(--khakestariTire);

}
.aboutMe_explain_container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.AboutMe_explain_text{
    list-style-type: none;
    font-family: var(--fa1);
    text-align: right;
    text-shadow: var(--textShadow);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8rem;
    padding-inline: 2rem;
}
.aboutMe_explain_container ul:first-child{
    text-align:left;

}
.AboutMe_explain_text li span{
    color: var(--khakestariRoshan);
    text-shadow: var(--textShadowDark);
}
.aboutMe_explain_Photo{
    background: url(../../assets/bgg.png);
    width: 25rem;
    top: 1rem;
    position: fixed;
    left: calc(50vw - 15rem);
    z-index: 1;
    filter:drop-shadow( -3px 1px 3px #3d3d3d) ;
    border-radius: 20rem;
    box-shadow: 0 0 10px #3d3d3d,0 0 30px #8b8b8b ,0 0 50px #ffffff;
    border:2rem solid #a7a7a7a6;
    backdrop-filter:blur(300px);
    filter: brightness(.9);
}
.aboutMe_explain_name{
    z-index: 10;
    color: var(--khakestariRoshan);
    text-shadow: var(--textShadowDark),0 0 20px #000,0 0 40px #000,0 0 50px #000;
    font-size: 10rem;
    position: fixed;
    top: 3rem;
    left: calc(50% - 16rem);
}
.abilities_container{
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    right: calc(50% - 22rem);
    box-shadow:inset 0 4px 5px #363636a4,inset 0 -4px 5px #363636a4, 0 0 10px var(--khakestariRoshan);
    background: #ffffff0e;
    border-radius: 50%;
    width: 13rem;
    top: 2rem;
    
}
.abilities_title{
    text-align: right;
    color: var(--abiTire);
    font-size: 2.5rem;
    font-family: Lalezar;
text-shadow: var(--textShadow);
margin: 0;
}
.abilities_explain{
    flex-direction: row;
    display: flex;
list-style-type: none;
justify-content: center;
flex-wrap: wrap;
padding-inline: 10px;
}

.abilities_explain li img{
width: 27px;
height: 27px;
margin-top: -10px;
filter: drop-shadow(var(--textShadow));

}



.projects_container{
    box-shadow:inset 0 4px 5px #363636a4,inset 0 -4px 5px #363636a4, 0 0 10px var(--khakestariRoshan);

    border-radius: 50%;
    position: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: calc(50% - 10rem);
    top: 8rem;
    z-index: 1;
}
.projects_title{
    text-align: right;
    color: var(--abiTire);
    text-shadow: var(--textShadow),2px 2px 2px #ffffff;
    font-size: 2rem;
    font-family: Lalezar;

}
.projects_explain{
width: 5rem;
height: 5rem;
filter: drop-shadow(-2px 0px 3px);
z-index: 1;
}


/* Media queries */
@media (width <= 1024px ){
    .aboutMe_Photo{
        width: 13rem;
        top: 0;
        left:9rem;
    }
        .siteTitle{
        left: calc(50% - 8rem);
        font-size: 1.5rem;
        text-wrap: nowrap;
        top: 0.2rem;
    }

    .aboutMe_title{
        left:6.3rem;
        position: fixed;
        top: 4rem;
    }
    .aboutMe_explain_Photo{
    width:22rem;
    border:1rem solid #a7a7a7a6;
    left: calc(50% - 11rem);
    top:0;

    }
    .aboutMe_explain_name{
        font-size: 9rem;
        left: 18rem;
    }
    .aboutMe_explain_container{
        width: 100vw;
        padding: 0;
        margin: 0;
        position: fixed;
    }
    .AboutMe_explain_text {
        font-size: 2.7rem;
        font-family: var(--fa1);
        text-wrap: nowrap;

    }
    .aboutMe_explain_container ul:first-child{
        text-align:left;
        display: flex;
        align-items: flex-start;
    
    }
    .AboutMe_explain_text li span{
        color: var(--khakestariRoshan);
        text-shadow: var(--textShadowDark);
        font-size: 1.8rem;
    }
    .abilities_container{
    right: calc(50% - 10rem);
    top: 2rem;
    }
    .abilities_title{
    font-size: 2rem;
    margin-top: 1rem;
    }
    .closeAll{
        top:1rem;
        left: calc(50% - 17rem);

    }

}
@media (width <= 768px ){
    .siteTitle{
        left: calc(50% - 8rem);
        font-size: 1.2rem;
        top: 0.2rem;
    }
    .aboutMe_Photo{
        width: 12rem;
        top: 0;
        left:4.5rem;
        height: 20rem;
        background-position-x: right;
    }
.aboutMe_title{
    left: 1.7rem;
    position: fixed;
    top: 4rem;
    }
    .aboutMe_explain_Photo{
    width:22rem;
    border:1rem solid #a7a7a7a6;
    left: calc(50% - 11rem);
    top:0;

    }
    .aboutMe_explain_name{
        font-size: 8rem;
        left: 12rem;
    }
    .aboutMe_explain_container{
        width: 100vw;
        padding: 0;
        margin: 0;
        position: fixed;
    }
    .AboutMe_explain_text {
        font-size: 2.5rem;
        font-family: var(--fa1);
        text-wrap: nowrap;

    }
    .aboutMe_explain_container ul:first-child{
        text-align:left;
        display: flex;
        align-items: flex-start;
    
    }
    .AboutMe_explain_text li span{
        color: var(--khakestariRoshan);
        text-shadow: var(--textShadowDark);
        font-size: 1.4rem;
    }

    .abilities_container{
        right: calc(50% - 10rem);
        top: 2rem;
        }
        .abilities_title{
        font-size: 2rem;
        margin-top: 1rem;
        }
    .closeAll{
        top:1rem;
        left:calc(50% - 14rem);

    }
    .closeAll_abilities{
        top:1rem;
        left: 2rem;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }

}

@media (width <= 425px ){
    .siteTitle{
        position: fixed;
        left: calc(50% - 5.5rem);
        padding: 0;
        font-size: 1.2rem;
        top: 0.2rem;
    }
    .aboutMe_Photo{
        width: 12rem;
        top: 1rem;
        left:0;
        height: 17rem;
        background-position-x: right;
    }
.aboutMe_title{
    left: -2.8rem;
    position: fixed;
    top: 4rem;
    }
    .aboutMe_explain_Photo{
        width:14rem;
        border:1rem solid #a7a7a7a6;
        left: calc(50% - 8rem);
    }
    .aboutMe_explain_name{
        font-size: 5rem;
        left: 3rem;
    }
    .aboutMe_explain_container{
        width: 100vw;
        padding: 0;
        margin: 0;
        top: 10rem;
        position: fixed;
    }
    .AboutMe_explain_text {
        font-size: 1.8rem;
        font-family: var(--fa1);
        text-wrap: nowrap;
        gap: 0;
        display: flex;
        justify-content: space-between;
    }
    .aboutMe_explain_container ul:first-child{
        text-align:left;
        display: flex;
        align-items: flex-start;
    
    }
    .AboutMe_explain_text li span{
        color: var(--khakestariRoshan);
        text-shadow: var(--textShadowDark);
        font-size: 1.4rem;
    }
    .closeAll{
        top:23rem;
        left: calc(50% - 2.5rem);
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
    .abilities_container{
        right: 0;
        top: 2rem;
        width: 13rem;
        }
        .abilities_title{
        font-size: 1.5rem;
        margin-top: 1rem;
        }

}
@media (width <= 375px ){
    .siteTitle{
        width: 15rem;
    }
    .aboutMe_Photo{
        
  top: 1.5rem;
  width:8rem ;
  height: 13rem;

    }
    .abilities_container{
        right: 2rem;
        top: 2rem;
        width: 6rem;
        height: 7.5rem;
        }
        .abilities_title{
        font-size: 1.1rem;
        }
        .abilities_explain li img{
            width: 1rem;
            height: 0.9rem;
            flex-wrap: wrap;
        }
        .projects_container{
            height: 4rem;
            width: 4rem;
            position: fixed;
            right: 3rem;            
            top: 9rem;

        }
        .projects_title{
            font-size: 1.2rem;
            text-wrap: nowrap;
            padding: 0;
            margin: 0;
        }
        .projects_explain{
            height: 4rem;
            width: 4rem;
        }
        .AboutMe_explain_text{
            padding: 0;
            padding-inline: 10px;
            margin: 0;
          font-size: 1.4rem;
        }
        .AboutMe_explain_text li span{
            font-size: 1.2rem;
          }
}






/* animations */
       .zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 



.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 


.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: forwards;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;display: none;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;display:none;}
  } 



@-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    40% {
    -webkit-transform: scale3d(0.9, 1.1, 1);
    transform: scale3d(0.9, 1.1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    40% {
    -webkit-transform: scale3d(0.9, 1.1, 1);
    transform: scale3d(0.9, 1.1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.1, 0.9, 1);
    transform: scale3d(1.1, 0.9, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 
  

    .slideOutRight {
        -webkit-animation-name: slideOutRight;
        animation-name: slideOutRight;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideOutRight {
        0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes slideOutRight {
        0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        } 