.container{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.container h5{
    margin: 0;
    text-shadow:0 0 5px var(--khakestariRoshan),0 0 10px var(--khakestariRoshan),0 0 20px var(--khakestariRoshan);
    font-size: 2.2rem;
    font-family: var(--fa1);

}
.links_container{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.links_container li img{
    width: 30px;
    padding-inline: 5px;
    transition: 0.3s;
}
.links_container li img:hover{
filter: contrast(200%) brightness(200%);
transition: 0.3s ease-in-out;
}
@media (width <= 768px ){
    .container h5{
        text-shadow:0 0 10px #9eefff;
     
       color: #000;
    
    }
.links_container li img{
    width: 1.5rem;
}
}
@media (width <= 425px ){
.links_container li img{
    width: 25px;
}

}
