.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }
    .mainBG,
    .mainBG2{
        position: fixed;
        min-width: 100%;
        height: 100%;
        z-index: -1;
        left: 50%;
        transform: translate(-50%,0%);
        animation: out 1s ;
    }
    .mainBG2{
        filter: brightness(0.85) contrast(2);
    }
    @media (width<410px){
        .mainBG{
            transform: scaleX(0.88) translate(-60%,0%);
        }
    }


    /* animation */
    
    .slideOutRight {
        -webkit-animation-name: slideOutRight;
        animation-name: slideOutRight;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideOutRight {
        0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes slideOutRight {
        0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        } 

        @keyframes out{
            from{
                opacity: 1;
            }
            to{
                opacity: 0;
            }
        }
  

