@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lateef&family=Jomhuria&family=Lalezar&family=Parisienne&family=Playball&family=Yeseva+One&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont,
   "Agbalumo",
   "Jomhuria",
  "Lalezar"
  ,"Parisienne"
  ,"Playball"
  ,'Yeseva',"Lateef";
  --fa1: "Jomhuria";
  --fa2:"Lalezar";
  --fa3:"Lateef";
  --eng1:"Agbalumo";
  --eng2:"Parisienne";
  --eng3:"Playball";
  --eng4:'Yeseva';
  --ghermezTire:#800000;
  --ghermezRoshan:#b40000;
  --abiTire:#002046;
  --abiRoshan:#9eefffa4;
  --sabzTire:#374e01;
  --khakestariRoshan:#a8a8a8;
  --khakestariTire:#181818;
  --zardTire:#857616;
  --zardRoshan:#FFDE2E;
  --textShadow:0 0 5px var(--khakestariRoshan),0 0 10px var(--khakestariRoshan),0 0 20px var(--khakestariRoshan);
  --textShadowDark:0 0 5px #000,0 0 10px #000,0 0 20px #000;
  --boxShadow: 10px 0px 7px 2px #e2e2e0, -10px 0px 8px 0px #7a7770, -5px 0px 6px 0px #e2e2e0 inset, 4px 1px 12px 2px #7a7770 inset;
  --neoShadow1: -3px 3px 10px #000e2488,inset 3px -3px 10px #000e2488,3px -3px 10px #fff,inset -3px 3px 10px #ffffffc5;
}
